<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />
    <link rel="icon" sizes="192x192" href="" />
    <link rel="stylesheet" href="" />
    <title>Error</title>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <label for="">您所輸入的網址不存在</label>
        <a href="http://localhost:3003/" target="_self">回到首頁</a>
      </section>
    </main>
    <footer>
      <div id="footer-style"></div>
    </footer>
  </body>
  <noscript>
    <label for="">此瀏覽器不支援JS</label>
  </noscript>
</html>
